.first section ul { margin-top: 25px;
padding-top: 30px;
background-color: #F7F9FC;
padding-bottom: 30px;
padding-left: 50px;
padding-right: 50px;
border-radius: 8px;
 }

.first section li {padding: 10px 10px}

header { color: white;
background-color: #F0F8FF;
padding-top: 140px;
padding-bottom: 100px; 
background-image: url(/Users/marinaexner/Desktop/Hike/landing_page/img/dog-header.png);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}

.modal-titel {color: black;}

.modal-body {color: black;}

.modal-header {color: black;}

.modal-content {color: black;}

@media (min-width: 576px)
{header {padding: 200px 0}}


.first-section img {
  margin-bottom: 35px;}

@media (min-width: 768px) 
{ .first-section 
	img  {margin-bottom: 20px;} }

@media (min-width: 992px) {
  .first-section img {
    margin-bottom: 0;}
}

.first-section {background-color: white;}

.first-section {padding: 60px 0 40px;}

	@media (min-width: 576px) 
		{.section {padding: 100px 0}}

body {color: #4a4a4a}


.second-section {
	background-color: #FBFBFB}

.second-section img {
height: 75px;
width: 75px;
margin:25px 0 10px;}

.second-section p {
	color: #9DA2A6;}


h1 {
  color: white;
  font-size: 36px;}

@media (min-width: 576px)
{ h1 {font-size: 48px} }

.nav-item {margin top: 10px;
	margin-bottom: 10px;
	margin-left: 16px;
	margin-right: 16px;}

.navbar-brand img  {
	height: 46px;
	width: 46px;
	margin right: 8px; 
}

.third-section {
	background-color: white;
}

.third-section img {
	margin-top: 35px;
}

@media (min-width: 768px) {
	.third-section img {margin-top: 0;}
}

.fourth-section {
background-position: center center;
background-color: #F0F8FF;
background-image: url(/Users/marinaexner/Desktop/Hike/landing_page/img/dogs-pattern.png);
background-repeat: repeat;
background-size: 192px 192px;}

.footer {
background-color: white;
padding-top: 35px;
padding-bottom: 35px;
}

.footer img {
height: 22px;
width: 22px;
margin-bottom: 3px;
}